<?xml version="1.0" encoding="utf-8"?>


<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=MSI\XOAII;Initial Catalog=maytinhonl;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<system.web>
		<compilation debug="true"/>
		<webServices>
			<jsonSerialization maxJsonLength="5000000"/>
			<!-- Đặt giá trị tối đa cho JSON -->
		</webServices>
	</system.web>
</configuration>